//
   Created by xiaoxiao on 3/7/15.
script(src='/javascripts/main.js')
script(src='/javascripts/bootstrap.min.js')
script(src='/javascripts/modernizr.custom.js')
script(src='/javascripts/classie.js')
script(src='/javascripts/boxesFx.js')
script(src='/javascripts/mediaelement-and-player.min.js')
script(src='/javascripts/website-smooth-scroll.js')
script(src='/javascripts/salvattore.js')
script(src='/javascripts/retina.min.js')

