//
   Created by xiaoxiao on 3/4/15.
#ip-container.ip-container
  header
    .container
      if title
        .logo
          h3 #{ title }
      .navicon
        a(href='javascript:void(0);')
          i.fa.fa-bars
      .clear
      .menu
        nav
          span.close.close-icon
            i.fa.fa-times
          ul.menu-list
            li
              a(href='/') Home
            li
              a(href='/projects.html') Projects
            li
              a(href='http://blog.seanxiao.me', target="") Blog
            li
              a(href='/about.html') About