//
   Created by xiaoxiao on 3/4/15.

doctype html
html
  head
    // Document Settings
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='http://placehold.it/16x16')
    // Page Title
    title #{ title }
    include header_include
  body
    script(src='/javascripts/loader.js')
    include header

    .wrapper
      .home-salvattore
        .container.salvattore-projects
          each project, i in projects
            if (i % 3 == 0)
              .row
            .col-md-4
              .project-con
                a(href='/projects/#{ project.id }.html')
                  .overlay
                    .overlay-inner
                      h3 iOS App
                      hr
                      span #{ project.name }
                  img(src='/images/projects/#{ project.id }.jpg', alt='')


    footer
      .container
        span 2015 © Sean Xiao. All rights Reserved.
    a#to-top
      i.fa.fa-angle-up
    include bottom_include